/* Sidebar styling */
.sidebar {
  width: 250px;
  height: 100vh;
  /* background: linear-gradient(to bottom, #000000, #241611); */
  padding: 24px;
  /* box-shadow: 2px 0 20px rgba(0, 0, 0, 0.2); */
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  transition: all 0.3s ease;
}

.sidebar.closed {
  width: 60px; 
}

.sidebar h3 {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 24px;
  padding-bottom: 12px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  font-weight: 600;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 20px;
}

.sidebar li a {
  display: flex;
  align-items: center; 
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  padding: 12px 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
  font-size: 1.1rem;
}

.sidebar li a:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateX(6px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.sidebar li a:active {
  transform: translateX(2px);
  box-shadow: none;
}


.sidebar .icon {
  margin-right: 12px; 
  font-size: 1.3rem; 
}


.toggleButton {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  z-index: 2;
}


@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .sidebar.closed {
    width: 60px;
  }

  .sidebar li a {
    font-size: 1rem;
  }
}
